# runtime files
*.lock

# third party libraries
vendor/

# temporary editor files
*.swp
.\#*
*.sublime-project
*.sublime-workspace

# operating system cache files
.DS_Store
Desktop.ini
Thumbs.db

# third party libraries
vendor/
.php_cs
.php_cs.cache
test.php

# Sessions
sessions/
